.index-body {
    @include grid(1fr 1fr, 50px);
    padding-bottom: 0px;
    height: 100vh;
}

.logo {
    height: 110px;
}

.header-content {
    @include flex(column, 30px);
    width: 500px;
    margin-top: 80px;

    p {
        @include f18;
    }
}

.uitleg {
    @include flex(column, 50px);
    margin-top: -50px;
    padding: 50px 0px;
    overflow: auto;
    color: $black;

    article {
        @include grid(1fr 1fr, 10px 20px);
        padding: 30px;
        background-color: $white;
        border-radius: $border5;
        border: 10px solid $blue;

        &:nth-of-type(2) {
            border: 10px solid $pink;
        }
    }

    img {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 100%;
        height: 370px;
        border-radius: $border5;
        object-fit: cover;
    }

    p {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.uitleg::-webkit-scrollbar {
    display: none;
}

.neon {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 150px;
    opacity: 0.8;
}

.aan-de-slag {
    display: block;
    width: fit-content;
    padding: 15px 30px;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    transition: 0.2s;
    border: 2px solid white;
}

    
.aan-de-slag:hover
{
    color: #ffff;
    background: #fE2C55;
    box-shadow: 0 0 10px #fE2C55, 0 0 40px #fE2C55, 0 0 80px #fE2C55; 
    transition-delay: 0.2s;
    border: 2px solid transparent;
}
   


